.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    display: block;
    width: 100%;
}

.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:1rem;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:#1ab188;
    color:white;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.button:hover {
    background-color: goldenrod;
}

.button:active {
    background-color: lightslategrey;
}

.button-block {
    display:block;
    width:100%;
}